/* graph colors */

$darkblue1:           #08517b !default; // astronaut
$darkblue2:           #0079c0 !default; // sapphire
$darkblue3:           #2199de !default; // curacao

$lightblue1:          #4fb2ec !default; // smurf
$lightblue2:          #84d3f5 !default; // hawaii
$lightblue3:          #aee7e8 !default; // aqua

$green1:              #6eb842 !default; // green lantern
$green2:              #98c225 !default; // mojito
$green3:              #b5d856 !default; // lime

$yellow1:             #f3dc42 !default; // yellow submarine
$yellow2:             #fcb322 !default; // sunflower
$yellow3:             #f89f1c !default; // honey

$red1:                #fe7f4d !default; // orange fizz
$red2:                #e9624d !default; // grapefruit
$red3:                #b7382d !default; // bloody mary

$purple1:             #b8466c !default; // mauve
$purple2:             #874678 !default; // mulberry
$purple3:             #512d62 !default; // eggplant

$grey1:               #e7e8e8 !default; // moon






